<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :prep_instructions %><br>
    <%= f.text_area :prep_instructions %>
  </div>
 
  <%= f.fields_for :ingredients do |ingredients_form| %>
      <%= ingredients_form.label :ingredients, "Add ingredients separated by commas (ex: 1 cup sugar, 2 cups butter, etc.)" %><br>
      <%= ingredients_form.text_area :ingredients %>
  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
